<header>
  <div class="title">
    <span>@jaspero/ng-image-preload</span>
    <a href="https://npmjs.com/package/@jaspero/ng-image-preload" target="_blank" rel="noopener">
      <img src="https://img.shields.io/npm/v/@jaspero/ng-image-preload.svg" alt="NPM">
    </a>
  </div>
  <a href="https://jaspero.co" target="_blank" rel="noopener" class="logo">
    <img src="assets/logo.png" alt="Jaspero Logo">
  </a>
</header>

<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-1.jpg">
</div>

<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-2.jpg">
</div>

<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-3.jpg">
</div>

<div class="block">
  <p>This image fails</p>
  <img src="assets/loader.gif" jpPreload="assets/none.jpg">
</div>

<div class="block">
  <p>This image fails, but it has a fallback, so that get's loaded.</p>
  <img src="assets/loader.gif" jpPreload="assets/none.jpg" fallback="assets/nothing-found.jpg">
</div>
