<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-1.jpg">
</div>

<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-2.jpg">
</div>

<div class="block">
  <img src="assets/loader.gif" jpPreload="assets/image-3.jpg">
</div>

<div class="block">
  <p>This image fails</p>
  <img src="assets/loader.gif" jpPreload="assets/none.jpg">
</div>

<div class="block">
  <p>This image fails, but it has a fallback, so that get's loaded.</p>
  <img src="assets/loader.gif" jpPreload="assets/none.jpg" fallback="assets/nothing-found.jpg">
</div>
